@charset "utf-8";
/* header */
body{position:relative;background-color:#fff !important;min-width:900px;}
.hide{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;}
a:hover{text-decoration:none;}
.header{width:100%;border-bottom:1px solid #CDCED1;}
.head_banner{height:80px;background:#fcd111;}
.h_banner_inner{position:relative;margin:0 auto;width:900px;}
.bannerClose{position:absolute;top:24px;right:-66px;cursor:pointer;}
.header_top{width:100%;height:32px;background:#f6f6f6;border-bottom:1px solid #cecdd2;}
.h_top_inner{position:relative;margin:0 auto;width:904px;*zoom:1;}
.h_top_inner:after{content:"";display:block;clear:both;}
.lnb_left{float:left;*zoom:1;}
.lnb_left:after{content:"";display:block;clear:both;}
.lnb_left li{float:left;height:33px;}
.lnb_left li a{display:inline-block;width:108px;height:33px;overflow:hidden;margin-right:-1px;}
.lnb_on img{margin-top:-35px;}
.lnb_right{float:right;*zoom:1;}
.lnb_right:after{content:"";display:block;clear:both;}
.lnb_right li{float:left;padding:0 7px;background:url(/images/main/lnb_line.jpg) no-repeat left center;}
.lnb_right li:first-child{background:none;}
.lnb_right li a{font-size:11px;line-height:32px;}
.lnb_right li:first-child a{color:#f2652f;font-weight:bold;}
.lnb_right li.bold a{font-weight:bold;}
.lnb_right li:hover a{text-decoration:underline;}
/* header middle */
.header_middle{border-bottom:1px solid #8861e2;}
.h_middle_inner{position:relative;margin:0 auto;padding:28px 0;width:904px;*zoom:1;}
.h_middle_inner:after{content:"";display:block;clear:both;}
.bookcube{float:left;margin-left:21px;height:36px;width:173px;}
.h_search_box{float:left;*zoom:1;}
.h_search_box:after{content:"";display:block;clear:both;}
.search_box{float:left;margin-left:50px;padding:4px 0;width:339px;height:24px;border:3px solid #f56334;*zoom:1;}
.h_search_box.storycube .search_box{border:3px solid #7d5cc5;}
.search_box:after{content:"";display:block;clear:both;}
.select{float:left;position:relative;width:72px;height:24px;line-height:24px;padding-left:7px;border-right:1px solid #d5d7d2;cursor:pointer;}
.select_arrow{position:absolute;left:63px;top:9px;}
.selectList{padding:5px 0;position:absolute;width:72px;left:-3px;top:28px;border:3px solid #f56334;border-top:none;background:#fff;z-index:2000;display:none;}
.storycube .selectList{border:3px solid #7d5dc5;border-top:none;}
.selectList li{padding-left:9px;line-height:19px;}
.selectList li:hover{color:#000;}
.search_input{float:left;width:248px;height:23px;border:none;padding-left:10px;line-height:23px;}
.select_submit{float:left;margin-left:6px;border:none;background:url(/images/main/select_btn.jpg) no-repeat left center;width:53px;height:38px;cursor:pointer;text-indent:-9999px;}
.storycube .select_submit{background: url(/images/storycube/select_btn.jpg) no-repeat left center;}
.bookcash{float:left;margin-left:6px;}
/* header bottom */
.header_bottom{position:relative;padding:11px 12px 0 12px;width:880px;height:29px;margin:0 auto;}
.header_bottom:after{content:"";display:block;clear:both;}
.main_category{float:left;margin-top:1px;}
.header_bottom > ul{margin-left:10px;float:left;}
.header_bottom > ul:after{content:"";display:block;clear:both;}
.header_bottom > ul > li{float:left;}
.header_bottom > ul > li > a{display:block;padding:0 11px;text-align:center;}

/* 창립. 추석 로고 수정 */
.good .h_middle_inner{padding:20px 0;}
.good .h_search_box{margin-top:18px;}

.han .h_middle_inner{padding:20px 0;}
.han .h_search_box{margin-top:4px;}




/* contents */
.contentsWrap{width:100%;}
.contents{padding-bottom:30px;width:904px;margin:0 auto;}
/* mainBottom */
.mainBottom{padding-top:10px;border-top:1px solid #e5e6e7;width:100%;background:#f6f6f6;}
.mainBottom_inner{width:904px;margin:0 auto;}
.cs{border:1px solid #e5e6e7;border-top:1px solid #cdced1;background:#fff;}
.cs:after{content:"";display:block;clear:both;}
.csLeft{float:left;width:719px;}
.csLeft div:first-child{border-top:none;padding:24px 0;}
.csLeft div{border-top:1px solid #e5e6e7;}
.csLeft div ul:after{content:"";display:block;clear:both;}
.csLeft div ul.csList li{width:180px;height:45px;float:left;text-align:center;background:url(/images/page/csBg.gif) no-repeat left center;}
.csLeft div ul.csList li:first-child{width:179px;background:none;}
.csLeft div ul li a{display:block;}
.csBoard{position:relative;padding:20px  0 20px 29px;}
.csBoard li{padding-left:13px;background:url(/images/page/csDot.gif) no-repeat left center;}
.csBoard li a{line-height:18px;}
.csBoard > a{display:block;position:absolute;top:32px;right:34px;width:40px;height:12px;background:url(/images/page/moreDot.gif) no-repeat right 3px;}
.csLine{margin-top:8px;}
.csRight{float:left;border-left:1px solid #e5e6e7;width:182px;height:170px;}
.csRight span{display:block;width:113px;margin:22px auto 0;height:120px;background:url(/images/novel/nstoryBg.png) no-repeat left center;text-indent:-9999px;background-position:-10px -372px;}
.mainBottom_banner{display:block;margin:36px auto 0;}

/* 푸터 */
.footer{width:100%;height:184px;border-top:1px solid #d6d6d6;background:#e5e6e7;}
.foot_inner{margin:0 auto;padding-top:24px;width:900px;*zoom:1;}
.foot_inner:after{content:"";display:block;clear:both;}
.foot_left{float:left;padding-left:18px;width:200px;box-sizing:border-box;}
.foot_left h3{width:142px;height:30px;margin-bottom:30px;background:url(/images/novel/nstoryBg.png) no-repeat left center;text-indent:-9999px;background-position:-134px -372px;}
.foot_right{float:left;width:700px;padding-left:85px;box-sizing:border-box;}
.f_lnb{margin-bottom:15px;*zoom:1;}
.f_lnb:after{content:"";display:block;clear:both;}
.f_lnb li{float:left;padding:0 12px;background:url(/images/page/footerDot.gif) no-repeat left center;font-size:11px;line-height:18px;color:#9d9d9d;}
.f_lnb.large li{float:left;padding:0 8px;background:url(/images/page/footerDot.gif) no-repeat left center;font-size:11px;line-height:18px;color:#9d9d9d;}
.f_lnb li:first-child{padding-left:0;background:none;}
.f_lnb li a{font-size:14px;color:#666;}
.f_lnb li a strong{color:#333;}
.f_lnb li:hover a{text-decoration:underline;} 
.f_lnb li.no_ba{background:none;padding-left:0;}
.copyright{font-size:11px;color:#9d9d9d;}
.foot_left > a{display:inline-block;margin-right:12px;}
.foot_left > a:last-child{margin-right:0;}



.nStoryNew{position:absolute;left:0;top:0;display:block;width:36px;height:20px;background:url(/images/novel/nstoryBg.png) no-repeat left center;text-indent:-9999px;background-position:-303px -238px;}
.nStoryUp{position:absolute;right:0;bottom:0;display:block;width:25px;height:20px;background:url(/images/novel/nstoryBg.png) no-repeat left center;text-indent:-9999px;background-position:-349px -238px;}
.nStoryAdult{position:absolute;right:0;top:0;display:block;width:25px;height:20px;background:url(/images/novel/nstoryBg.png) no-repeat left center;text-indent:-9999px;background-position:-384px -238px;}

/* 페이징 */
.paging{padding:15px 0 70px 0;text-align:center;}
.paging a{font-weight:600;display:inline-block;font-size:15px;vertical-align:middle;padding:0 13px;border-left:1px solid #ccc;}
.paging a.one{border-left:none;}
.paging a.on{color:#f26532;}
.paging .arr{border-left:none;padding:0;margin:0 3px;background:url(/novel/images/novel/nstoryBg.png) no-repeat left center;text-indent:-9999px;}
.paging .arr.first{width:34px;height:26px;background-position:-608px -242px;}
.paging .arr.prev{width:26px;height:26px;background-position:-645px -242px;}
.paging .arr.next{width:26px;height:26px;background-position:-674px -242px;}
.paging .arr.last{width:34px;height:26px;background-position:-703px -242px;}

/* 전체카테고리 */
.all-category{display:none;background:#fff;position:absolute;top:50px;left:0;box-shadow:0 2px 2px 2px rgba(0,0,0,.2);z-index:10000;}
.all-category:after{content:"";display:block;clear:both;}
.caseBox-wrap:after{content:"";display:block;clear:both;}
.caseBox{position:relative;float:left;width:225px;height:550px;border-right:1px solid #e0e0e0;}
.all-category .caseBox:nth-child(1){border-left:1px solid #9c9da0;}
.all-category .caseBox:nth-child(4){width:224px;border-right:1px solid #9c9da0;}

.cate-title > li{background:#fff;}
.cate-title > li > p{position:relative;width:226px;padding-left:22px;line-height:48px;font-size:16px;background:#45474c;box-sizing:border-box;border-right:1px solid #969799;z-index:1;}
.caseBox:last-child li > p{width:225px;border-right:none;}
.cate-title > li > p > a{display:block;color:#fff;}
.cate-title > li > p span{margin-left:20px;height:12px;width:7px;display:inline-block;background:url(/novel/images/novel/cateTitleBg.png) no-repeat left center;}
.cate-title ul{padding:10px 0;}
.cate-title ul li{height:30px;}
.cate-title ul li a{line-height:30px;padding-left:22px;display:block;} 
.cate-btn-wrap{height:62px;background:#f4f4f4;width:904px;box-sizing:border-box;border-left:1px solid #9c9da0;border-right:1px solid #9c9da0;border-bottom:1px solid #9c9da0;}
.cate-btn-wrap:after{content:"";display:block;clear:both;}
.cate-btn-wrap p{float:left;margin:10px 8px 0;border:1px solid #c1c1c1;width:162px;box-shadow:0 2px #e8e8e8;border-radius:3px;background:url(/novel/images/novel/cateTitleBg.png) no-repeat 143px center #fff;}
.cate-btn-wrap p a{display:block;line-height:40px;padding-left:12px;font-size:13px;}
.cate-btn-wrap p span{display:inline-block;margin-right:10px;}
.cate-btn-wrap p:nth-child(1) span{color:#c16e7b;}
.cate-btn-wrap p:nth-child(2) span{color:#f75294;}
.cate-btn-wrap p:nth-child(3) span{color:#ae5b4b;}
.cate-btn-wrap p:nth-child(4) span{color:#5d78bb;}
.cate-btn-wrap p:nth-child(5) span{color:#8860cb;}

/* 결제 팝업 */
#overay_pop{display:none;position:fixed;background:#fff;border:4px solid #46474b;width:800px;z-index:10000;top:100px;left:50%;margin-left:-400px;}
.layer_popup .layer_head{position:relative;width:100%;background-color:#46474b;color:#fff;height:44px;line-height:43px;}
.layer_popup.border_type_box .layer_head h2 {padding-left:20px;text-align:left;font-size:14px;color:#fff;}
.layer_popup .btn_layer_x{top:10px;right:10px;display:inline-block;position:absolute;width:16px;height:16px;background:url(/novel/images/novel/layerPopClose.png) no-repeat;}
.layer_popup .layer_content{padding:30px;overflow:hidden;}
.line_type thead th{background:#f3f4f4;font-weight:normal;color:#46474b;font-size:12px !important;height:40px;line-height:40px;border-right:1px solid #d4d5d6;border-bottom:1px solid #d4d5d6;}
.line_type tbody th{text-indent:16px;text-align:left;font-size:12px !important;height:40px;line-height:40px;border-right:1px solid #d4d5d6;border-bottom:1px solid #d4d5d6;}
.line_type th, .line_type td{height:40px;line-height:40px;border-right:1px solid #d4d5d6;border-bottom:1px solid #d4d5d6;font-size:12px !important;}
.ac{text-align: center !important;}
.top10{margin-top: 10px !important;font-size: 12px !important;}
.cash_step{padding:13px 0;}
.cash_step h3{color:#ff3300;font-size:14px;}
.cash_step h3 span{color: #46474b !important;}
.cash_coupon_box{line-height:48px;height:48px;padding-left:10px;border:1px solid #D4D5D6;background-color:#FFF;text-align:center;font-size:12px !important;}
.cash_coupon_box p{float:left;}
.couponIpt{padding-left:10px;width:170px;height:26px;line-height:26px;border:1px solid #D4D5D6;vertical-align:middle;color:#999;vertical-align:middle;}
.gray2{color:#676767 !important;}
.o_f16{margin-left:10px;font-size:16px;color:#F26532;vertical-align:middle;font-weight:bold;}
.ma_top{margin-top:10px;margin-right: 10px;}
.coupon_btn{float:right;}
.story_coupon_select{display:block;float:left;width:105px;height:26px;text-align:center;color:#fff !important;line-height:26px;background:#f26532;border:1px solid #df5c2d;border-radius:3px;box-shadow:0 2px #fde8e0;font-weight:normal !important;}
.coupon_reset{display:block;float:left;margin-left:5px;width:105px;height:28px;text-align:center;color:#666 !important;line-height:28px;background:url(/novel/images/novel/couponBtn2.jpg) no-repeat left center;font-weight:normal !important;border:none;cursor:pointer;}
.story_coupon_pop{padding-bottom:30px;position:absolute;left:20px;top:120px;width:780px;border:3px solid #46474b;background:#fff;display:none;}
.coupon_title_box{height:41px;background:#46474b;}
.coupon_title_box h4{float:left;margin-left:8px;font-size:14px;color:#fff;line-height:41px;}
.story_coupon_pop_close{float:right;margin-right:13px;margin-top:11px;cursor:pointer;}
.tbl_box{padding:30px;text-align:center;}
.coupon_tbl{margin-bottom:15px;}
.coupon_tbl td{padding:15px 0;text-align:center;font-size:12px !important;}
.c_radio{width:19px;height:19px;}
.couponApply2{display:inline-block;width:105px;height:26px;text-align:center;color:#fff !important;line-height:26px;background:#f26532;border:1px solid #df5c2d;border-radius:3px;box-shadow:0 2px #fde8e0;font-weight:normal !important;cursor:pointer;}
.coupon_ps_box{padding:0 30px;}
.coupon_ps{padding:15px;border:1px solid #d5d5d5;}
.coupon_ps li{color:#666;font-weight:normal;line-height:18px;font-size:12px !important;}
.coupon_ps li span{font-weight:bold;color:#ff6600;}
.layer_popup.serial_popup .select_pay_method{width:457px;}
.top5{margin-top: 5px !important;}
.fl{float:left;}
.layer_popup .layer_content .border_type {height:48px;line-height:48px;padding-left:10px;border:1px solid #d4d5d6;background-color:#fff;}
.input_chk{margin-top:-2px;width:19px;height:19px;padding:5px;}
.f16{font-size:16px !important;}
.orange{color:#f26532 !important;}
.layer_popup .layer_content .border_type .fr{padding-right:17px;}
.layer_popup .layer_content .border_type .fr .btn{display:block;text-align:center;margin-top:11px;vertical-align:top !important;width:105px;height:26px;line-height:26px;color:#fff !important;font-weight:normal;background:#f26532;overflow:hidden;border:1px solid #df5c2d;border-radius:3px;box-shadow:0 2px #fde8e0;}
.flow{overflow:hidden;}
.layer_popup.serial_popup .btn_pay{width:263px;height:168px;}
.border_type2{border:1px solid #d4d5d6;background-color:#f6f6f6;}
.fr{float:right;}
.top40{margin-top:40px !important;}
.black2{color:#010101 !important;}
.f14{font-size:14px !important;}
.red2{color:#ff3300 !important;}
.f18{font-size:18px !important;}
.layer_popup.serial_popup .btn_pay .btn_serial_pay{display:inline-block;color:#fff !important;font-size:16px;width:227px;height:56px;line-height:56px;font-weight:600;background:#f26532;border:1px solid #df5c2d;border-radius:3px;box-shadow:0 2px #fde8e0;}

/* 알리미 */
.alarm_layer_box{position:absolute;width:500px;z-index:10000;top:25px;left:410px;margin-left:0;}
.alarm_layer_head_top{position:relative;height:7px;text-align:center;width:500px;}
.alarm_layer_head_top img{display:block;position:absolute;top:0;left:50%;margin-left:-7px;}
.border_type_box2{background-color:#ededef;border:4px solid #46474b;}
.btn_layer_x{background:url(/novel/images/novel/close_x.gif) no-repeat !important;}