@charset "utf-8";
/************************** reset *************************************/ 
html { font-size: 1em}
body { font-size: 0.75em}
button { cursor:pointer}
a{text-decoration:none;}
a:link, a:visited { text-decoration:none;color:#666}
a:hover, a:focus, a:active { text-decoration:none}
table{border-collapse:collapse;border-spacing:0;}
caption{text-indent:-9999px;width:0;height:0;display:none;}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed,
fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output,
p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var { margin:0; padding:0}

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{ font-size:1em}
body, input, button, select, textarea, sub,input{ font-family:dotum,sans-serif;color:#666}
em, cite, address, optgroup {font-style:normal}
kbd, samp, code { font-family:monospace}

img, input, button, select, textarea { vertical-align:middle}
ul, ol { list-style:none}
img, fieldset { border:0}
abbr, acronym { cursor:help; border-bottom:1px dotted black}
table {width:100%;border-spacing:0;border:0}
button {border:0;padding:0;margin:0;text-decoration:none}

legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0}

/* Html5 Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block}
mark, rp, rt, ruby, summary, time{ display: inline }

/************************** reset end *************************************/ 


body{background:#f6f6f6;color:#000;}
.hide{position:absolute;left:-9999px;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}

.wrap{width:1260px;margin:10px auto 0;}
.largeTitle{height:45px;background:url(/images/common/tab_bg.gif) repeat-x;border-right:1px solid #d4d5d6;}
.largeTitle a{display:inline-block;float:left;line-height:45px;font-size:14px;font-weight:bold;text-align:center;width:178px;height:45px;text-decoration:none;border-right:1px solid #d4d5d6;background:url(/images/common/tab_bg.gif) repeat-x;}
.largeTitle a.first{border-left:1px solid #d4d5d6;}
.largeTitle a.on{width:181px;height:45px;padding-left:2px;margin-left:-1px;background:url(/images/common/tab_on_bg.gif) no-repeat;border:0 !important;color:#ff3300;}
.contents{background:#fff;padding:10px 0 100px 0;}
.contents:after{content:"";display:block;clear:both;}
.snb{width:160px;padding:20px;border:1px solid #d4d5d6;background:#fff;margin-top:20px;float:left;}
.snb dl.first{padding-top:0;}
.snb dl dt{margin-top:10px;color:#000;font-weight:bold;padding:0 0 10px 0;}
.snb dl dd{text-indent:20px;line-height:20px;margin-bottom:3px;}
.right_inner{float:right;width:1040px;margin-top:20px;overflow:hidden;}
.right_inner h2{margin-bottom:30px;padding-left:15px;border:1px solid #d4d5d6;height:43px;line-height:43px;font-size:16px;border-bottom:1px solid #b6b7b7;}
.inner{border-top:2px solid #666;}
.inputBox{padding:10px 15px;height:30px;background:#f6f6f6;border-bottom:1px solid #666;}
.inputBox:after{content:"";display:block;clear:both;}
.date_left{float:left;width:60%;}
.date_left > label{margin-right:15px;font-size:16px;line-height:30px;}
.date_left > input{margin-top:-1px;padding-left:10px;width:220px;height:28px;border:1px solid #d4d5d7;line-height:28px;}
.date_right{float:right;}
.date_right span{display:inline-block;margin-right:15px;font-size:16px;line-height:30px;}
.date_right a{margin:0 5px;display:inline-block;width:50px;height:28px;border:1px solid #333;background:#ca9bf6;text-align:center;line-height:28px;box-shadow:1px 1px #ccc;color:#fff;}
.inputBox select{margin-right:15px;width:200px;height:28px;}
.inputBox input[type='text']{margin-top:-1px;padding-left:10px;width:220px;height:26px;border:1px solid #d4d5d7;line-height:28px;}
.inputBox input[type='button']{margin:0 5px;display:inline-block;width:50px;height:28px;border:1px solid #333;background:#ca9bf6;text-align:center;line-height:28px;box-shadow:1px 1px #ccc;color:#fff;cursor:pointer;}
.excel{margin-top:20px;}
.excel:after{content:"";display:block;clear:both;}
.excel a{float:right;margin-right:20px;display:block;width:120px;height:28px;border:1px solid #333;background:#ca9bf6;text-align:center;line-height:28px;box-shadow:1px 1px #ccc;color:#fff;cursor:pointer;}
.excelTbl{margin-top:10px;width:100%;}
.excelTbl thead th{background:#d4d5d6;height:32px;line-height:32px;border:1px solid #bbb;}
.excelTbl tbody td{height:32px;line-height:32px;text-align:center;border:1px solid #bbb;}
.addPS{margin-bottom:20px;padding:10px 5px;background:#f7f7f7;border:1px solid #ccc;}
.addPS:after{content:"";display:block;clear:both;}
.addPS li{padding-left:10px;margin-left:20px;list-style-type:disc;line-height:22px;color:#333;}
.addPS li a{color:#aaa;}



